@media screen and (min-width: 320px) and (max-width: 480px){
    .content{
        width: 100%;
    }
    .mobnone{
        display: none;
    }
    .logo_main > a > img{
        width: 60px;
        margin-left: 10px;
    }
    .head_res_but{
        font-size: 8px;
        padding: 9px 12px;
    }
    .head_phone{
        font-size: 12px;
    }
    .head_infos > li:nth-last-child(1){
        /*padding-top:10px;*/
    }
    .OpenMenu{
        font-size: 30px;
        position: absolute;
        right: 9px;
        top: 4px;
        display: block;
    }
    .head_infos > li{
        margin-right:20px ;
    }
    .head_infos{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav li {
        font-family: UbuntuLight;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        text-align: center;
        color: #fff;
        margin-top: 5px;
    }
    .nav {
        background: #013368;
        position: absolute;
        top: 0;
        width: 100%;
        padding-top: 30px;
        display: none;
        z-index: 10000;

    }
    .nav li:nth-child(1) {
        margin-left: 15px;
    }
    .head_socials{
        display: block;
    }
    .head_socials > li{
        display: inline-block;
        margin-left: 5px;
        background: #2a527d;
    }
    .closeMenu{
        display: block;
        position: absolute;
        color:#fff;
        right: 10px;
        top:10px;
    }
    .cover{
        margin-top: 40px;
    }
    .cover_title{
        font-size: 35px;
        line-height: 16px;
    }
    .cover_text{
        font-size: 20px;
    }
    .cover{
        height: 190px;
    }
    .cover img{
        width: auto;
        height: 100%;
    }
    .btn_cover {
        padding: 7px 17px;
        margin-top: 3px;
        font-size: 12px;
    }
    .footerBloock{
        margin-bottom: 15px;
    }
    .write_fButton{
        margin-top:30px;
    }
    .podb_v{
        font-size: 27px;
        margin: 30px auto;

    }
    .oc_right{
        width: 100%;
    }
    .oc_imgs{
        height: 230px;
    }
    .oc_left{
        width: 100%;
    }
    .oc_button{
        width: 75%;
        margin-bottom: 15px;
        margin-left: 5%;

    }
    .oc_title{
        padding-left: 15px;
    }
    .oc_text{
        padding-left: 15px;
        padding-right: 15px;
    }
    .cover_ceni_title {
        line-height: 17px;
        font-size: 22px;
    }
    .podb_v {
        font-size: 18px;
        margin: 5px auto;
        margin-top: 70px;
    }
    .zitems_g img{
        padding-right: 15px;
    }
    .width1_5{
        width: 97%!important;
    }
    .coverportfolio img{
        width: 100%;
        height: auto;

    }
    .ca_title{
        display: none;
    }
    .ca_right{

        width: 100%;
    }
    .filtr{
        margin-top: 15px;
    }
    .mobImg{
        overflow: hidden;
        height: 160px;
        position: relative;
    }
    .mobImg img{
        height: 100%;
        position: absolute;
        left:0;
        right: 0;
        top:0;
        bottom: 0;
        margin: auto;
    }
    .pod_dirq{
        position: absolute;
        width: 94%;
        bottom: 0;
    }
    .pod_img_tMain{
        padding: 0;
    }
    .pod_img_text{
        font-size: 13px;
        padding-left: 17px;

    }
    .contentinfo{
        height: 160px;
    }
    .pod_knok_korz {
        padding: 10px 0px;
    }
    .pod_knok_izb{
        padding: 10px 0px;
    }
    .minBlock_pro{
        margin-top: 15px;
    }
    .pcnone{
        display: block;
    }
    .ch_news{
        text-align: center;
        margin-top: 15px;
        font-size: 22px;
        font-weight: bold;
    }
    .title_al{
        font-size: 18px;
        font-family: UbuntuBold;
    }
    .albob2-slider{
        margin-top: 15px;
    }
    .prod_img{
        position: relative;
        height: 200px;
        overflow: hidden;
    }
    .prod_img img{
        height: 100%;
        position: absolute;
        left:0;
        right: 0;
        bottom: 0;
        top:0;
        margin:auto;
    }
    .prod_name p{
        font-size: 17px;
    }
    .pr_exmp {
        margin-top: 5px;
        padding: 5px;
    }
    .pr_exmp_b span{
        display: inline-block;
    }
    .slider_img{
        height: 260px;
    }
    .slider_img img{
        width: 100%;
        height: 100%;
    }
    .btn_slider{
        padding: 8px 35px;
    }
    .slider_title {
        font-size: 23px;
        margin-top: 30px;

    }
    .how_we_work_g {
        font-size: 24px;
        margin: 36px auto;
    }
    .gr_row_title{
        font-size: 18px;
    }
    .gr_name{
        width: 100%;
    }
    .gr_phone{
        width: 100%;

    }
    .gr_email{
        width: 100%;
    }
    .gr_call_butt {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%!important;
    }
    .gr_forms {
        width: 80%;
        margin: 0 auto;
    }
    .gr_rows{
        margin-left: 0;
        margin-top: 10px;
    }
    .my_mod{
        width: 100%;
        margin-top: 0px;
    }
    .mod_t_p{
        font-size: 20px;
    }
    .mod_rows textarea{
        height: 100px;
    }
    .imgMobIzbrni{
        height: 200px;
        overflow: hidden;
        padding: 5px;
    }
    .mobtextizbrni{
        padding: 5px;
    }
    /*.slider_img img:nth-child(1){*/
        /*padding-left: 17px;*/
    /*}*/
    .zItemsBl_p{
        position: absolute;
        z-index: 10;
        top:20%;
        text-align: center;
        width: 100%;
        padding-left: 7%;
        padding-right: 7%;

    }
    .zitems_g img{
        padding-right: 0;
        /*padding-left: 15px;*/
    }
    .leyer{
        position: absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        background: #8080807d;
        z-index: 9;
    }
    .zitems_g{
        position: relative;
        width: auto;
    }
    .mopadd{
        padding: 0;
    }
    .pod_img_tMain{
    position: absolute;
        z-index: 10;
    }
    .podbermimg{
        height: 330px;
    }
    .pod_dirqs{
        position: absolute;
        z-index: 10;
        bottom: 15px;
        width: 90%;
        margin-left: 5%;
    }
    .slider_img{
        height: 330px!important;
    }
    .bagImg{
        height: 140px;
    }
    .bagRemove{
        display: none;
    }
    .mobnopadd{
        padding: 0;
    }
    .cupon{
        text-align: center;
        font-size: 18px;
    }
    .baginputgrup{
        width: 92%;
        margin-left: 4%;
    }
    .baginputgrup > input{
        border: 1px solid #b1b1b1;
    }
    .mobpadd{
        padding: 0;
    }
    .blockcountry{
        margin-top: 80px;
        margin-bottom: 15px;
    }
    .bagtitle{
        font-size: 12px;
    }
    .bagColor{
        margin-top:5px;
    }
    .codeBag{
        font-size: 14px;
    }
    .bagcount{
        width: 100%;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .mobCount{
        margin-top: -9%;
    }
    .priceMobile{
        margin-top: -6%;
        text-align: right;
        margin-left: 75%;
    }
    .blockInfoProBag{
        height: 140px;
        padding-left: 7px;
    }
    .badMobDel{
        margin-top: 3px;
        margin-left: 4px;
        color: #013368;
    }
    .bor_none_arr{
        border-right: 1px solid ;
    }
    .groupIcon{
        position: absolute;
        width: 30%;
        text-align: right;
        top: 6px;
        right: 55px;
    }
    .groupIcon li{
        width: 15%;
        display: inline-block;
        margin-left: 5px;
    }
    /*.slider_img {*/
        /*width: 270px!important;*/
    /*}*/

    .pod_img_text{
        height:48px;
    }
    .how_we_more {
        text-align: center;
        margin: 30px auto;
    }
    .pod_img_text span {
        font-family: UbuntuBold;
        font-size: 14px;
        display: inline-block;
        margin-top: 30px;
    }
    .WrapperAlbom{
        margin-top: 70px;
    }
}