@font-face {
	font-family: 'UbuntuLight';
	src: url('ubuntu/Ubuntu-L.ttf');
}
@font-face {
	font-family: 'UbuntuBold';
	src: url('ubuntu/Ubuntu-B.ttf');
}
@font-face {
	font-family: 'UbuntuLI';
	src: url('ubuntu/Ubuntu-LI.ttf');
}
@font-face {
	font-family: 'UbuntuR';
	src: url('ubuntu/Ubuntu-R.ttf');
}
/******************************************header***************************************/
body{
	margin: 0px !important;
	padding: 0px !important;
}
body.modal-open {
	overflow: visible;
}
.bor{
	border:1px dotted red;

}
label{
	margin: 0px;
	cursor: pointer;
}

*{
	outline: none;
}
a{
	outline: none;
	text-decoration: none;
	color:inherit;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 0px 0px;
}
a:hover{
	outline: none;
	text-decoration: none;
	color:inherit;
	background-color: transparent!important;
}
a:focus{
	outline: none;
	text-decoration: none;
	color:inherit;
}

ul{
	list-style-type: none;
}
a:hover{
	text-decoration: none;
}
body{
	margin:0px;
}
header{
	position: fixed;
	z-index: 100;
	left: 0;
	right: 0;
	top:0;
}
nav{
	background: #fff;
}
.headers {
	background: #fff;

	box-shadow: 0px 0px 5px 0px #8c8c8c;
	z-index: 100;
	position: relative;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.nopadding{
	padding: 0px;
}
.nopadleft{
	padding-left:0px;
}
.nopadright{
	padding-right:0px;
}
p{
	margin:0px;
}
ul{
	margin:0px;
	padding:0px;
}
.content{
	width: 1170px;
	margin: 0px auto;
}
.center{
	float: none;
	margin: 0 auto;
}
.head_main{
	margin: 0px auto;
}
.head_socials{
	list-style: none;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
 }
.head_socials > a > li{
	display: inline-block;
	background: #d0d0d0;
	border-radius: 30px;
	width: 30px;
	height: 30px;
	position: relative;
	color:#fff;
	cursor: pointer;
}
.head_socials > a > li > i{
	position: absolute;
	margin: auto;
	top: 7.5px;
	left: 0;
	right: 0;
}
.head_infos{
	list-style: none;
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;

}
.head_infos > li{
	display: inline-block;
	margin-right: 30px;
}
.head_phone{
	font-family: UbuntuLight;
	font-size: 14px;
	cursor: pointer;
}
.head_res_but{
	font-family: UbuntuBold;
	font-size: 12px;
	background-color: #ffc600;
	padding: 9px 37px;
	user-select: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
}
.logo_main{
	padding-top: 7px;
}
.groupIcon > li{
	display: inline-block;
	margin-right: 10px;
	position: relative;
}
.groupIcon > li:nth-child(2){
	margin-right: 0;
}

.groupIcon  li  i{
	font-size: 1.5em;
	margin-top: 3px;
}
.count{
	padding: 0px 5px;
	position: absolute;
	top: 0;
	right: -7px;
	background: #d0d0d0;
	display: inline-block;
	border-radius: 17px;
	color: black;
	font-size: 11px;
	font-family: UbuntuR;
}

.nav{
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav li{
	font-family: UbuntuLight;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 18px;
	cursor: pointer;
}
.nav li:nth-child(1){
	margin-left: 0;
}
.cover{
	position: relative;
	height: 530px;
	overflow: hidden;
}
.cover img{
	width: 100%;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom: 0%;
	margin: auto;
}

.text_block{
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	text-align: center;
	margin-top: 10%;

}
.cover_title{
	font-size: 72px;
	color: black;
	font-family: UbuntuBold;
	text-transform: uppercase;
}
.cover_text{
	font-size: 36px;
	color: black;
	font-family: UbuntuLight;
	text-transform: uppercase;
	line-height: 50px;
}
.btn_cover{
	background: #013368;
	color:#fff;
	padding: 10px 35px;
	display: inline-block;
	margin-top: 10px;
	font-size: 12px;
	font-family: UbuntuBold;
	cursor: pointer;
	text-transform: uppercase;
}
.more_cover{
	margin-top: 15px;
	display: inline-block;
	border-bottom: 1px solid black;
	padding: 5px;
	color:black;
	cursor: pointer;
}
.slider_title{
	font-size: 36px;
	color: black;
	font-family: UbuntuBold;
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
}
.textlider{
	font-size: 13px;
	font-family: UbuntuLight;
	text-align: center;
	text-transform: uppercase;
}

.product-slider{
	margin-top: 30px;
}





.slider_img{
	height: 360px;
	overflow: hidden;
}
.slider_img img{
	width: 100%;
}
.pod_img_text del{
	padding-right: 10px;
}
.swiper-button-nexts{
	position: absolute;
	top: 50%;
	z-index: 100;
	right: 1%;
	color: #fff;
	cursor: pointer;
}

.swiper-button-prevs{
	position: absolute;
	top: 50%;
	z-index: 100;
	left: 1%;
	color: #fff;
	cursor: pointer;

}
.swiper-pagination-bullet{
	background: none!important;
	border:1px solid #fff!important;
	opacity:1;
}
.swiper-pagination > span{
	border:2px solid #fff!important;
}

.swiper-pagination-bullet-active{
	background: #fff!important;
}
.info_block{
	position: absolute;
	z-index: 150;

	bottom: 10%;
	left:5%;
}

.pro_slide_title{
	font-size: 36px;
	font-family: 'UbuntuLight';
	color:black;
}
.btn_slider{
	background: #013368;
	padding: 16px 51px;
	display: inline-block;
	color:#fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	font-family: UbuntuBold;
}
.how_we_work_g{
	font-size: 36px;
	font-family: 'UbuntuBold';
	color:black;
	text-align: center;
	margin: 50px auto;
	text-transform: uppercase;
}
.how_we_img{
	text-align: center;
}
.how_we_img img{
	width: 39%;
}
.how_we_title{
	margin-top: 18px;
	font-size: 14px;
	font-family: 'UbuntuBold';
	color:black;
	text-align: center;
}
.how_we_text{
	text-transform: uppercase;
	width: 75%;
	margin: 0px auto;
	margin-top: 18px;
	font-size: 14px;
	font-family: 'UbuntuLight';
	color:black;
	text-align: center;
}
.how_we_more{
	text-align: center;
	margin: 88px auto;
}
.how_we_more > a >  span{
	padding: 15px 53px;
	border: 1px solid;
	font-size: 12px;
	font-family: 'UbuntuBold';
	color:black;
	cursor: pointer;
	user-select: none;
	text-transform: uppercase;
}
.zitems_g{
	height: 360px;
	width: 360px;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}
.zitems_g img{
	width:100%;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.zItemsBl{
	width:100%;
	position: absolute;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	display: none;
}
.zItemsBl_p{
	text-align: center;
	text-transform: uppercase;
	width:80%;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 15px;
	margin: auto;
}
.zitems_g:hover .zItemsBl{
	display: block;
}
.zItemsBl_title{
	font-size: 14px;
	font-family: 'UbuntuBold';
	color:black;
	margin-bottom: 5px;
}
.zItemsBl_text{
	font-size: 14px;
	font-family: 'UbuntuLight';
	color:black;
}
.zitems_mains{
	margin-bottom: 30px;
}
.zitems_more{
	text-align: center;
	margin: 15px auto;
}
.zitems_more span{
	padding: 15px 53px;
	border: 1px solid;
	font-size: 12px;
	font-family: 'UbuntuBold';
	color: black;
	cursor: pointer;
	user-select: none;
	text-transform: uppercase;
}
.main_gr_row{
	background-color: #fafafa;
	margin: 40px auto;
	padding-bottom: 40px;
}
.gr_row_title{
	padding: 30px 0px;
	text-align: center;
	font-size: 30px;
	font-family: 'UbuntuBold';
	text-transform: uppercase;
}
.gr_forms{

}
.gr_name{
	width: 29.7%;
	float: left;
}
.gr_email{
	width: 21.3%;
	float: left;
}
.gr_phone{
	width: 24.7%;
	float: left;
}
.gr_call_butt{
	width: 21.3%;
	float: left;
}
.gr_rows{
	position: relative;
	margin-left: 11px;
}
.gr_rows:first-child{
	margin-left: 0px;
}
.gr_rows input{
	border: 1px solid #d0d0d0;
	width: 100%;
	padding: 9px 0px;
	color: #656565;
	padding-left: 35px;
	font-size: 14px;
	font-family: 'UbuntuLight';
}
.gr_row_abs{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 6px;
	left: 7px;
	text-align: center;
	font-size: 19px;
	color: #d0d0d0;
}
.gr_call_butt p{
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 12px;
	background-color: #ffc600;
	text-align: center;
	padding: 11px 0px;
	height: 40px;
	cursor: pointer;
}
.pod_tk{
	color: #ffc600;
}



.pod_img{
	position: relative;
	width: 100%;
	height: 262.5px;
	overflow: hidden;
	cursor: pointer;
}
.pod_image{
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	transition: 0.4s;
}
.pod_link{
	display: none !important;
	position: absolute !important;
	z-index: 20;
	width: 100%;
	height: 100%;
}

.pod_img:hover .pod_link{
	display: block !important;
	background: rgba(255,255,255,0.5);
}
.pod_link:hover{
	display: block !important;
	background-color: rgba(255,255,255,0.5) !important;
}
.pod_img:hover .pod_korz{
	display: block;
}
.pod_img:hover .pod_image{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}








.pod_knok_korz{
	width: 47%;
	float: right;
	background-color: #ffc600;
	padding: 13px 0px;
	cursor: pointer;
}
.pod_korz{
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 30;
	display: none;
}
.pod_dirq{
	width: 89%;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
}

.pod_knok_izb{
	width: 47%;
	float: left;
	background-color: #FFFFFF;
	border: 1px solid;
	padding: 13px 0px;
	cursor: pointer;
}



.pod_knoks{
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 12px;
	text-align: center;
}

.pod_img_tMain{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	background-color: #fafafa;
	height: 85px;
}
.pod_img_text{
	font-family: UbuntuLight;
	font-size: 14px;
	text-transform: uppercase;
}
.pod_img_text span{
	font-family: UbuntuBold;
	font-size: 14px;
}



.pod_more {
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 12px;
	width: 250px;
	margin: 0px auto;
	border: 1px solid;
	cursor: pointer;
	padding: 13px 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.otz_img_main{
	position: relative;
	width: 100%;
	height: 270px;
	border-radius: 200px;
	overflow: hidden;
	margin-top: 70px;
}
.otz_img_main img{
	width: 100%;
	border-radius: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.otz_main{
	/*/width: 270px;*/
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 40px;
}
.otz_main.slick-center .otz_textM{
	display: block;
}
.otz_textM{
	margin-top: 15px;
	text-align: center;
	display: none;
}
.otz_t_title{
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 18px;
	margin-bottom: 10px;
}
.otz_text{
	text-transform: uppercase;
	font-family: UbuntuLight;
	font-size: 14px;
	width: 200%;
	margin-left: -50%;
}
.center .slick-center {
	-moz-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-o-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	transform: scale(1.29);
}
.foot_items{
	background-color: #fafafa;
	border: 1px solid #d0d0d0;
}
.fItems_title_ps{
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 30px;
	text-align: center;
	margin: 30px 0px;
}
.fItems_title_ss{
	text-transform: uppercase;
	font-family: UbuntuLight;
	font-size: 14px;
	text-align: center;
	padding: 0px 10px;
	height: 60px;
}
.foot_items_main{
	height: 184px;
}
.foot_items_main_texts{
	text-transform: uppercase;
	font-family: UbuntuLight;
	font-size: 14px;
	text-align: center;
	margin-top: 32px;
}
.foot_items_main_texts:first-child{
	margin-top: 0px;
}
.foot_items_main_textt{
	text-transform: uppercase;
	font-family: UbuntuLight;
	font-size: 14px;
	text-align: center;
	margin-top: 65px;
}
.foot_items_main_textt:first-child{
	margin-top: 0px;
}
.call_us_fButton{
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 12px;
	text-align: center;
	background-color: #013368;
	color: #FFFFFF;
	padding: 14px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 30px;
}
.send_fButton{
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 12px;
	text-align: center;
	background-color: #ffc600;
	color: #000000;
	padding: 14px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 30px;
}
.write_fButton{
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 12px;
	text-align: center;
	background-color: #013368;
	color: #ffffff;
	padding: 14px;
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 30px;
}
.foot_main{
	margin-top: 60px;
}


.foot_second{
	margin-top: 50px;
	background-color: #fafafa;
	border-bottom: 1px solid #d0d0d0;
}
.fs_ul{
	list-style: none;
}
.fs_ul li{
	text-transform: uppercase;
	font-family: UbuntuLight;
	font-size: 12px;
	cursor: pointer;
	margin-top: 7px;
}
.fs_ul li:first-child{
	margin-top: 0px;
}
.foot_second_main{
	margin-top: 30px;
}
.foot_logo{
	width: 115px;
	height: 65px;
}
.foot_logo img{
	width: 100%;
	height: 100%;
}
.soc_items{
	background-color: #d0d0d0;
	color: #ffffff;
	border-radius: 20px;
	text-align: center;
	padding: 0;
	width: 35px;
	padding-top: 8px;
	padding-bottom: 7px;
	cursor: pointer;
	margin-left: -15px;
}
.socials{
	margin-top: 15px;
	margin-bottom: 20px;
}
.foot_th p{
	margin: 16px auto;
	font-size: 12px;
	font-family: UbuntuBold;
	text-align: center;
}
.prew_sl{
	position: absolute;
	top: 31%;
	left: -35px;
	font-size: 25px;
	cursor: pointer;
}
.next_sl{
	position: absolute;
	top: 31%;
	right: -35px;
	font-size: 25px;
	cursor: pointer;
}












.cover_white{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	z-index: 4;
}
.podb_v{
	font-size: 36px;
	font-family: 'UbuntuBold';
	color:black;
	text-align: center;
	margin: 50px auto;
	margin-top: 140px;
	text-transform: uppercase;
}
.oc_left{
	width: 31.6%;
	float: left;
}
.oc_right{
	width: 65.8%;
	float: right;
}
.oc_title{
	text-transform: uppercase;
	font-family: UbuntuR;
	font-size: 30px;
}
.oc_text{
	text-transform: uppercase;
	font-family: UbuntuLight;
	font-size: 14px;
	margin-top: 25px;
}
.oc_text p{
	margin-top: 15px;
}
.oc_button{
	font-family: UbuntuBold;
	font-size: 12px;
	background-color: #013368;
	color: #ffffff;
	text-align: center;
	padding: 14px 0px;
	cursor: pointer;
	margin-top: 25px;
	text-transform: uppercase;
}
.oc_imgs{
	position: relative;
	height: 400px;
	overflow: hidden;
}
.oc_imgs img{
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top:0;
	margin: auto;
}
.oc_main{
	margin-top: 30px;
}
.cover_text span{
	font-family: UbuntuR;
}
.pod_items{
	background-color: #fafafa;
}
.podb_v_name_title{
	font-size: 24px;
	font-family: UbuntuBold;
	text-transform: uppercase;
	margin-top: 30px;
	padding-left: 15px;
}
.podb_v_name_text{
	font-size: 14px;
	font-family: UbuntuLight;
	text-transform: uppercase;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	height: 80px;
	overflow: hidden;
}
.podb_price_name{
	font-size: 18px;
	font-family: UbuntuBold;
	text-transform: uppercase;
}
.podb_price{
	font-size: 16px;
	font-family: UbuntuLight;
	text-transform: uppercase;
	color: #013368;
	margin-top: 12px;
}
.pod_pri{
	margin-top: 12px;
}
.podb_price img{
	margin-top: -2px;
}
.pod_bottom p{
	font-size: 12px;
	font-family: UbuntuLight;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 15px;
}
.pod_main{
	margin-top: 30px;
}
.type_name{
	font-size: 24px;
	font-family: UbuntuBold;
	text-transform: uppercase;
	padding-top: 23px;
	padding-bottom: 23px;
	text-align: center;
}
.type_img{
	position: relative;
	width: 100%;
	height: 262.5px;
	overflow: hidden;
	cursor: pointer;
}
.type_img img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.type_img_wh{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	z-index: 5;
	display: none;
}
.type_img_tMain{
	background-color: #fafafa;
}
.type_items:hover .type_img_tMain{
	background-color: #d0d0d0;
}
.type_items:hover .type_img_wh {
	display: block;
}
.type_items{
	margin-bottom: 30px;
}
.port_img{
	width: 100%;
	height: 360px;
	position: relative;
	overflow: hidden;

	background: #fafafa;;
}
.port_img img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.port_name{
	background-color: #fafafa;
	height: 135px;
}
.port_name p{
	font-size: 18px;
	font-family: UbuntuBold;
	text-transform: uppercase;
	padding-top: 31px;
	padding-left: 20px;
	padding-right: 10px;
}
.port_item{
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;
}
.port_item:hover .type_img_wh{
	display: block;
}
.port_item:hover .port_name{
	background-color: #d0d0d0;
}
.how_we_z{
	margin-bottom: 30px;
}

.ca_left{
	width: 23.08%;
	float: left;
}
.ca_right{
	width: 74.4%;
	float: right;
}
.ca_title{
	font-size: 18px;
	font-family: UbuntuBold;
	text-transform: uppercase;
}
.ca_main{
	margin-top: 30px;
}
.ca_search{
	position: relative;
}
.ca_search_icon{
	position: absolute;
	padding-top: 7px;
	padding-left: 5px;
	cursor: pointer;
	z-index: 10;
}
.ca_search input{
	width: 100%;
	border: 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 25px;
}
.ca_search_icon i{
	color: #bcbcbc;
	font-size: 18px;
}
.ca_mains{
	margin-top: 30px;
}

.my_mod{
	background-color: #FFFFFF;
}
.modal-header .close {
	color: black;
	opacity: 1;
}
.mod_img{
	width: 95px;
	height: 53px;
	margin: 0px auto;
}
.mod_img img{
	width: 100%;
	height: 100%;
}
.mod_t_p{
	font-size: 30px;
	font-family: UbuntuBold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 28px;
}
.mod_t_ph{
	font-size: 14px;
	font-family: UbuntuLight;
	text-transform: uppercase;
	text-align: center;
	margin-top: 1px;
}
.modal-header {
	padding: 15px;
	border-bottom: none;
}
.modal-dialog {
	width: 900px;
	margin: 50px auto;
}
.mod_rows{
	margin-top: 20px;
	position: relative;
}
.mod_rows input{
	width: 100%;
	border:1px solid #d0d0d0;
	padding: 12px 3px 12px 40px;
}
.mod_mains{
	margin-top: 10px;
	margin-bottom: 30px;
}
.ca_mod_icon{
	position: absolute;
	cursor: pointer;
	z-index: 10;
	left: 7px;
	top: 2px;
	color: #d0d0d0;
	font-size: 28px;
	font-family: UbuntuLight;
}
.mod_rows textarea{
	width: 100%;
	border:1px solid #d0d0d0;
	padding-left:20px;
	height: 177px;
	resize: none;
}
.mod_main_send{
	margin-bottom: 70px;
	text-align: center;
}
.mod_span{
	text-transform: uppercase;
	font-size: 12px;
	font-family: UbuntuBold;
	background-color: #ffc600;
	padding: 14px 114px;
	text-align: center;
	cursor: pointer;
}
.izb_knok_korz{
	width: 80%;
	background-color: #ffc600;
	padding: 13px 0px;
	cursor: pointer;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 20px;
	z-index: 15;
}
.ab_logo_main{
	border-right: 1px solid;
}
.ab_logo img{
	width: 100%;
}
.ab_title{
	font-family: UbuntuBold;
	font-size: 12px;
	margin-top: 15px;
}
.ab_title:first-child{
	margin-top: 0px;
}
.ab_te_ma p{
	font-family: UbuntuLight;
	font-size: 12px;
	margin-top: 10px;
}
.ab_back{
	/*background-image: url("../images/content/portfolio_back.jpg");*/
	background-size: cover;
	position: relative;

}
.cover_white_img {
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: 2;
}
.ab_back_main{
	/*background-size: cover;*/
	position: relative;
	z-index: 25;
	padding-top: 70px;
	padding-bottom: 100px;
	/*background-image: url("../images/content/portfolio_back.jpeg");*/
}
.ab_int{
	font-family: UbuntuLight;
	font-size: 123px;
	text-align: center;
	color: #013368;
}
.ab_row{
	border-bottom: 1px solid;
}
.ab_row_text{
	font-family: UbuntuLight;
	font-size: 19px;
	text-align: center;
	margin-top: 23px;
	margin-bottom: 23px;
	height: 53px;
	overflow: hidden;
}
.ab_box{
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 0px 10px #b7b7b7;
	margin-top:30px;
}
#map{
	height: 100%;
}
.map_main{
	height: 370px;
}
.cont_title{
	font-family: UbuntuBold;
	font-size: 12px;
	padding-top: 28px;
}
.cont_text{
	font-family: UbuntuLight;
	font-size: 12px;
}
.cont_main p{
	text-transform: uppercase;
	margin-top: 12px;
}
.prod_img{
	height: 450px;
	position: relative;
	overflow: hidden;
}
.prod_img img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.prod_mains{
	margin-top: 115px;
}
.prod_desc p{
	font-family: UbuntuLight;
	font-size: 12px;
	margin-top: 15px;
}
.prod_name p{
	text-transform: uppercase;
	font-family: UbuntuBold;
	font-size: 23px;
}
.prod_code p{
	font-family: UbuntuLight;
	font-size: 23px;
}
.prod_price{
	margin-top: 15px;
	margin-bottom: 15px;
}
.prod_price p{
	font-family: UbuntuBold;
	font-size: 23px;
	color: #013368;

}
.pr_c_text{
	vertical-align: middle;
	font-family: UbuntuLight;
	font-size: 16px;
	text-transform: uppercase;
}
.pr_c_cols{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	margin-left: 3px;
	cursor: pointer;
}
.activeColor{
	border: 3px solid #d0d0d0;
}
.count_arrow{
	float: left;
	border: 1px solid;
	width: 33px;
	text-align: center;
	padding: 6px 0px;
	cursor: pointer;
}
.count_int{
	width: 25px;
	float: left;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 6px 0px;
	text-align: center;
	font-size: 14px;
	font-family: UbuntuLight;
	user-select: none;
}
.count_arrow:last-child{
	/*border-left:none;*/
}
.bor_none_arr{
	border-right:none;
	margin-left: 7px;
	border-right: 1px solid;
}
.count_text{
	float: left;
	vertical-align: middle;
	font-family: UbuntuLight;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 6px;
}
.prod_count {
	margin-top: 15px;
}
.prod_v_izb{
	font-family: UbuntuBold;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding: 13px 0px;
	border: 1px solid;
	cursor: pointer;
}
.prod_v_korz{
	font-family: UbuntuBold;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	padding: 14px 0px;
	background-color: #ffc600;
	cursor: pointer;
}
.prod_to{
	margin-top: 25px;

}
.prod_xar{
	border-bottom: 1px solid ;
	margin-top: 15px;
	padding-bottom: 10px;
}
.pr_xar{
	font-family: UbuntuBold;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
	position: relative;
}
.pr_close{
	display: block;
	width: 100%;
	position: absolute;
	font-size: 20px;
	top: 0px;
	text-align: right;
}
.pr_open{
	display: block;
	width: 100%;
	position: absolute;
	font-size: 20px;
	top: 0px;
	text-align: right;
}
.pr_xar_text{
	font-family: UbuntuLight;
	font-size: 12px;
	margin-top: 5px;
	display: none;
}
.pr_xar_text p{
	margin-top: 5px;
}
.op_arr{
	display: none
}
.pr_example{
	height: 170px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

.izb_prod_name{
	font-size: 20px;
	font-family: UbuntuR;
}
.izb_prod_price{
	font-family: UbuntuBold;
	font-size: 16px;
	color: #013368;
}
.pr_example p{
	margin-top: 8%;
	text-align: right;
}
.izb_butt{
	position: absolute;
	width: 100%;
	z-index: 15;
	background-color: rgba(255,255,255,0.5);
	height: 100%;
	display: none;
}
.izb_butt p{
	position: absolute;
	bottom: 31px;
	width: 130px;
	text-align: center;
	background-color: #ffc600;
	font-family: UbuntuBold;
	text-transform: uppercase;
	padding: 8px 0px;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
}
.pr_example_for:hover .izb_butt{
	display: block;
}
.pr_example img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.pr_exmp{
	margin-top: 15px;
}
.pr_exmp_b{
	text-align: center;
	margin: 25px auto;
}
.pr_exmp_b span{
	padding: 15px 53px;
	border: 1px solid;
	font-size: 12px;
	font-family: 'UbuntuLight';
	color: black;
	cursor: pointer;
	user-select: none;
}
.sort{
	text-align: center;
	border: 1px solid;
	font-size: 12px;
	font-family: 'UbuntuLight';
	text-transform: uppercase;
	padding: 6.5px 0px;
}
.sort_close{
	display: block;
	width: 87%;
	position: absolute;
	font-size: 20px;
	top: 2px;
	text-align: right;
	right: 20px;
	cursor: pointer;
}
.tc_img{
	height: 454px;
	overflow: hidden;
	position: relative;
}
.tc_img img{
	width: 100%;
	position: absolute;
	left:0;
	right: 0;
	top:0;
	bottom: 0%;
	margin: auto;
}
.tc_title{
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'UbuntuBold';
	margin-top: 20px;
}
.tc_text{
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'UbuntuLight';
}
.ord_tc{
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'UbuntuBold';
	width: 250px;
	cursor: pointer;
	margin: 30px auto;
	background-color: #013368;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 0px;

}
.an_tc{
	text-transform: uppercase;
	font-size: 36px;
	font-family: 'UbuntuBold';
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.change_row{
	margin-top: 25px;
}
.ch_main p{
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'UbuntuLight';
	text-align: center;
}
.ch_news{
	user-select: none;
}
.ch_news img{
	margin-right: 7px;
}
.active_ch_tab{
	font-family: 'UbuntuBold'!important;
	border-bottom: 1px solid black !important;
}
.ch_main{
	border-bottom: 1px solid #d0d0d0;
}
.ch_news span{
	padding-bottom: 3px;
	cursor: pointer;
}

.port_M{
	display: none;
}
.active_ch{
	display: block;
}
.pcnone{
	display: none;
}
.OpenMenu{
	display: none;
}
.borderBottom{
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
.bagImg{
	position: relative;
	overflow: hidden;
	height: 180px;

}
.bagImg > img{
	position: absolute;
	height: 100%;
	left:0;
	right: 0;
	top:0;
	bottom:0;
	margin: auto;
	padding-right: 15px;

}
.bagRemove {
	display: inline-block;
	width: 96%;
	padding: 10px;
	text-align: center;
	background: #d0d0d0;
	position: absolute;
	right: 0;
	bottom: 0;
	color: black;
	font-family: UbuntuBold;
	text-transform: uppercase;
	cursor: pointer;
}
.blockInfoProBag{
	position: relative;
	height: 180px;
}
.bagColor{
	margin-top: 20px;
	font-family:UbuntuLight;
}
.bagtitle{
	font-family:UbuntuLight;
	font-size: 16px;
}
.codeBag{
	font-family:UbuntuLight;
	font-size: 16px;
	margin-top: 5px;
}
.port_quantity{
	border: 1px solid grey;
}
.bagprice {
	text-align: center;
	padding-top: 0px;
}
.bagcount {
	margin: 0 auto;
	width: 55%;
}
.bagpadd {
	padding-top: 0px;
}
.bagth  {
	text-align: right;
}
.bagthcenter  {
	text-align: center;
}

.trBag{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}
.cupon{
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: UbuntuBold;
}
.baginputgrup{
	width: 50%;
	box-sizing: border-box;
	position: relative;
}
.baginputgrup > input{
	width: 65%;
	height: 30px;
	box-sizing: border-box;
	/*border: none;*/
	float: left;
	padding-left:25px;
}
.baginputgrup > button{
	width: 35%;
	height: 30px;
	border: none;
	box-sizing: border-box;
	float: left;
	background: #013368;
	color: #fff;
	font-family: UbuntuBold;
	font-size: 12px;
}
.tag{
	position: absolute;
	top:5px;
	left: 5px;
	z-index: 10;
	color:#d0d0d0;
}
.text_right{
	text-align: right;
}
.suma{
	padding-bottom: 15px;
}
.SumBtnBag{
	padding:5px 35px;
	border:1px solid grey;
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
}
.activeBag{
	border-color:#21b247;
	color:#21b247;

}
.activeBag > span{
	display: block!important;
}
.SumBtnBag i{
	position: absolute;
	top: 10px;
	left: 10px;

}
.chekBlockBag{
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}
.boldResult{
	padding-top: 15px;
	font-family: UbuntuBold;
	font-size: 22px;
}
.btnSEnd{
	padding: 10px 35px;
	background: orange;
	color:#fff;
	font-family: UbuntuBold;
	text-transform: uppercase;
	cursor: pointer;
}
.country{
	margin-right: 15px;
}
.blockcountry{
	margin-top: 10px;
	margin-bottom: 5px;
}
.blockcountry select{
	border: none;
}
.badMobDel {
	display: none;
}
.cover {
	margin-top: 70px;
}
.WrapperAlbom{
	margin-top: 100px;
}
.SumBtnBag >  span{
	display: none;
}
.ca_filters{
	margin-top: 20px;
}
.filtr_item_name{
	font-family: UbuntuBold;
	font-size: 16px;
	display: inline-block;
	float: left;
}
.filtr_item_icon{
	display: inline-block;
	float: right;
	margin-right: 15px;
}
.ca_filtr_item{
	border-bottom:1px solid #000000;
}
.filtr_item_main{
	cursor: pointer;

	padding-top: 20px;
	padding-bottom: 20px;
}
.filtr{
	position: relative;
}
.f_ic_none{
	display: none;
}
.filter_val_name{
padding-left: 10px;
	font-size: 14px;
	font-family: UbuntuR;
	text-transform: capitalize;
	font-weight: 400;
}
.filter_val_check{
	vertical-align: sub;
}
.filtr_vals{
	display: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.open_fil_vals{
	display: block;
}
.filter_vals_colors_checks{
	visibility: hidden;
}
.fil_val_col_bl{
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: 1px solid #d3d7d5;
	display: inline-block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.fil_val_col_bl_sels{
	border: 3px solid #e0dede;
}
.filtr_vals_one{
	display: inline-block;
	width: 20px;
	user-select: none;
	height: 20px;
	overflow: hidden;
	border-radius: 20px;
	margin-left: 3px;
	margin-right: 3px;
}
.sort_wind{
	border: 1px solid #333333;
	border-bottom: none;
	position: absolute;
	width: 260px;
	background-color: #FFFFFF;
	z-index: 25;
}
.sort_wind_items{
	border-bottom: 1px solid #333333;
	padding: 5px;
	user-select: none;
	cursor: pointer;
}
.sort_wind_items span{
	font-size: 16px;
	font-family: UbuntuR;
}
.sort_wind_none{
	display: none;
}
.load_gifs{
	position: fixed;
	width: 100%;
	z-index: 5000;
	text-align: center;
	top: 0;
	background: rgba(0,0,0,0.2);
	display: none;
}
.load_gifs img{
	width: 15%;
	padding-top: 15%;
}
.kar_ryads{
	display: inline-block;
	margin-left: 0px;
	position: relative;
	height: 30px;
	cursor: pointer;
}
.kar_ryads:last-child{
	margin-left: 15px;
}
.kar_ryads_main p{
	font-size: 16px;
	font-family: UbuntuBold;
	margin-bottom: 5px;
}
.kar_ryads_dlin p{
	font-size: 16px;
	font-family: UbuntuBold;
	margin-bottom: 5px;
}
.kar_ryads_dlin span{
	width: 50px;
	display: inline-block;
	border: 1px solid;
	padding: 5px 0px;
	font-family: UbuntuR;
	font-size: 14px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
	cursor: pointer;
}
.kar_ry_items span{
	border: 1px solid;
	display: block;
	height: 10px;
	width: 50px;
	margin-top: 1px;
	border-radius: 1px;
}
.kar_ry_count{
	position: absolute;
	right: -10px;
	border: 1px solid;
	background-color: white;
	color: black;
	width: 20px;
	font-size: 14px !important;
	text-align: center;
	border-radius: 20px;
}
.kar_ry_items_one{
	margin-top: 12px!important;
}
.activeRyad{
	border-color: #ffc600;
	color: #ffc600;
}
.activeDlin{
	border-color: #ffc600;
	color: #ffc600;
}
.success_bag{
	width: 36%;
	border: 3px solid #ffc600;
	background-color: #FFFFFF;
	font-size: 25px;
	font-family: UbuntuBold;
	text-align: center;
	position: fixed;
	z-index: 500;
	left: 0;
	right: 0;
	margin: auto;
	padding: 44px 0px;
	border-radius: 6px;
	top: -10000px;
	transition: 0.2s;
}
.bagColor span{
	display: inline-block;
	width: 30px;
	height: 30px;
}
.deverly_main{
	background-color: rgba(0,0,0,0.16);
	position: fixed;
	top:-5000px;
	transition: 0.4s;
	width: 100%;
	height: 100%;

	z-index: 9999;
	left: 0px;
	right: 0px;

}
.deverlyActive{
	top: 0px;
}
.verify_payment{
	font-family: UbuntuBold;
	font-size: 12px;
	background-color: #ffc600;
	padding: 9px 37px;
	user-select: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.delivery_second{
	border:2px solid #3c3c3c;
	width: 500px;
	background-color: #FFFFFF;
	padding: 10px;
	margin: 5px auto;
	position: relative;
}
.bag_rows{

}
.bag_rows input{
	border: 1px solid #d0d0d0;
	width: 100%;
	padding: 4px 0px;
	color: #656565;
	padding-left: 15px;
	font-size: 14px;
	font-family: 'UbuntuLight';
}
.bag_rows{
	margin-bottom: 5px;
}
.bag_rows label{
	font-family: UbuntuR;
	font-size: 14px;
	font-weight: 400;
}
.bag_row_check input{
	width: 5%;
}
.bag_row_check span{
	font-family: UbuntuR;
	display: inline-block;
	font-size: 14px;
	width: 170px;
}
.delivery_title{
	font-size: 18px;
	font-family: UbuntuBold;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.del_for_km{
	display: none;
}
.cart_itog{
	font-family: UbuntuR;
}
.close_sels{
	font-size: 18px;
	position: absolute;
	top: 5px;
	right: 11px;
	cursor: pointer;
}
.error_allD{
	border: 1px solid red !important;
}
input.cart_itog {
	cursor: no-drop!important;
	font-family: UbuntuBold;
}
.privacy_row{
	text-indent: 2em;
	font-size: 16px;
	width: 90%;
	margin: 0px auto;
	line-height: 22px;
	word-spacing: 2px;
	font-family: UbuntuR;
	margin-bottom: 25px;
}
.privacy_bottom{
	text-align: right;
	font-family: UbuntuBold;
}


.send_loading{
	position: fixed;
	top: 0;
	z-index: 999999;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: none;
}
.send_loading img{
	display: block;
	margin: 120px auto;
	width: 150px;
}
.success_send{
	width: 36%;
	border: 3px solid #ffc600;
	background-color: #FFFFFF;
	font-size: 25px;
	font-family: UbuntuBold;
	text-align: center;
	position: fixed;
	z-index: 500;
	left: 0;
	right: 0;
	margin: auto;
	padding: 44px 0px;
	border-radius: 6px;
	top: -10000px;
	transition: 0.2s;
}
.send_error_vse{
	width: 36%;
	border: 3px solid #ff0600;
	background-color: #FFFFFF;
	font-size: 25px;
	font-family: UbuntuBold;
	text-align: center;
	position: fixed;
	z-index: 500;
	left: 0;
	right: 0;
	margin: auto;
	padding: 44px 0px;
	border-radius: 6px;
	top: -10000px;
	transition: 0.2s;
}
.success_error{
	width: 36%;
	border: 3px solid #ff0600;
	background-color: #FFFFFF;
	font-size: 25px;
	font-family: UbuntuBold;
	text-align: center;
	position: fixed;
	z-index: 500;
	left: 0;
	right: 0;
	margin: auto;
	padding: 44px 0px;
	border-radius: 6px;
	top: -10000px;
	transition: 0.2s;
}
.success_like{
	width: 36%;
	border: 3px solid #ffc600;
	background-color: #FFFFFF;
	font-size: 25px;
	font-family: UbuntuBold;
	text-align: center;
	position: fixed;
	z-index: 500;
	left: 0;
	right: 0;
	margin: auto;
	padding: 44px 0px;
	border-radius: 6px;
	top: -10000px;
	transition: 0.2s;
}
.success_like_error{
	width: 36%;
	border: 3px solid #ff0600;
	background-color: #FFFFFF;
	font-size: 25px;
	font-family: UbuntuBold;
	text-align: center;
	position: fixed;
	z-index: 500;
	left: 0;
	right: 0;
	margin: auto;
	padding: 44px 0px;
	border-radius: 6px;
	top: -10000px;
	transition: 0.2s;
}
.del_likes{
	position: absolute;
	z-index: 100;
	color: #ffffff;
	right: 10px;
	top: 6px;
	font-size: 20px;
	transition: 0.1s;
}
.del_likes:hover{
	right: 8px;
	top: 4px;
	color: #fff4e6;
	font-size: 24px;
}
.pod_knok_likeIn{
	width: 100%;
	background-color: #ffc600;
	padding: 13px 0px;
	cursor: pointer;
}
.how_we_title span{
	display: block;
	width: 143px;
	margin: 0px auto;
}
.prod_price p span del{
	padding-right: 10px;
}
.cont_main{
	/*text-align: right;*/
}
.logo_main_head{
	display: inherit;
	width: 92px;
}
.logo_main_head img{
	position: relative;
	width: 92px;
	overflow: hidden;
	display: block;
	height: 54px;
}
.active_menu{
	font-family: UbuntuBold !important;
	font-size: 14px;
	border-bottom: 1px solid;
}
.in_construction {
	margin: 50px 0px;
	text-align: center;
}
.in_construction span {
	text-transform: uppercase;
	font-size: 28px;
	font-family: UbuntuBold;
}